.container{
	padding: 0;
	margin: 0;
} 

.container-pie {
	background-color: MediumSeaGreen;
	color: white;
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 20px;
}

.App {
	margin: 30px auto;
	padding: 20px;
	width: 50%;
}

.input {
	border-radius: 40px;
	text-align: center;
}

img {
	width: 50%;
	margin-left: 25%;
}

/* icon inside text box search */
.search {
	position: relative;
}

.search > .icon {
	position: absolute;
	top: 5px;
	left: 10px;
}

.search > .searchBar {
	padding-left: 100px;
}
/*----------------------------*/

Button {
	width: 100%;
}

